.main {
    background-color: var(--bg);
    color: var(--fg);

    width: 100vw;
    min-height: 92.5vh;
    height: auto;

    display: flex;
    flex-flow: column;

    justify-content: center;
    align-items: center;

    padding-top: 2vh;
}

.bloglistcontainer {
    display: flex;
    flex-flow: column;

    justify-content: space-between;
    align-items: center;
    gap: 2vh;
}

.bloggridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    grid-row-gap: 2vh;
}

.bloglistitem {
    display: flex;
    flex-flow: row;

    background-color: var(--bg1);

    border: 0.15rem solid var(--bg2);
    border-radius: 1rem;

    padding: 1rem;

    box-shadow: 0.25rem 0.25rem 0.1rem 0.1rem var(--bg1);
}

.bloggriditem {
    display: flex;
    flex-flow: column;

    overflow-wrap: anywhere;

    max-height: 30vh;
    width: 25vw;

    background-color: var(--bg1);

    border: 0.15rem solid var(--bg2);
    border-radius: 1rem;

    padding: 1rem;

    box-shadow: 0.25rem 0.25rem 0.1rem 0.1rem var(--bg1);
}

.toggle {
    width: 4vw;
    height: 3vh;

    position: fixed;
    bottom: 2vh;
    right: 5vw;

    font-size: 1rem;
}

.buttonWrapper {
    all: unset;
}
