.main {
    background-color: var(--bg);
    color: var(--fg);

    width: 100vw;
    min-height: 92.5vh;
    height: auto;
}

.vertFlex {
    display: flex;
    flex-flow: column;

    justify-content: space-between;
    align-items: center;

    gap: 1rem;
}

.smallPadding {
    padding: 1rem;
}

.card {
    width: 80%;

    background-color: var(--bg1);

    border: 0.15rem solid var(--bg2);
    border-radius: 1rem;

    padding: 1rem;

    box-shadow: 0.25rem 0.25rem 0.1rem 0.1rem var(--bg1);
}
