.main {
    background-color: var(--bg);

    width: 100vw;
    min-height: 92.5vh;

    padding-top: 2vh;

    display: flex;
    flex-flow: column;
    gap: 2vh;
    align-items: center;
}

.blogCard {
    width: 80%;

    background-color: var(--bg1);

    border: 0.15rem solid var(--bg2);
    border-radius: 1rem;

    padding: 1rem;

    box-shadow: 0.25rem 0.25rem 0.1rem 0.1rem var(--bg1);
}

.break {
    height: 0.1rem;
    background-color: var(--fg1);

    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}
